main {
	min-height: 80vh;
	overflow: hidden;
}

.main-title {
	font-size: 2.2rem;
	margin-bottom: 3rem;
	text-align: center;
}

h1 {
	font-size: 1.8rem;
	padding: 1rem 0;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
}

h2 {
	font-size: 1.4rem;
	padding: 0.5rem 0;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
}

.align {
	text-align: center;
}
h3 {
	padding: 1rem 0;
	text-transform: uppercase;
}

.rating span {
	margin: 0.1rem;
}

.image-wrapper {
	border: 2px solid rgb(81, 81, 87);
	box-shadow: 2px 1px 5px rgba(255, 255, 255, 0.151);
}

.title:hover {
	text-decoration: none;
	background: none;
}

.btn-hover-color:hover {
	color: white;
	background-color: rgb(23, 55, 71);
}

.zoom-hover {
	transition: 0.5s;
}

.zoom-hover:hover {
	color: white;
	font-size: 1.6rem;
}

/* Custom Card */

.card {
	cursor: pointer;
	min-width: 200px;
	padding: 0.6rem;
	box-shadow: -1rem 0 2rem rgb(19, 19, 19);
	transition: 0.5s;
	position: relative;
}

@media screen and (max-width: 600px) {
	.card {
		margin: 1rem;
	}
}

@media screen and (max-width: 450px) {
	.brand {
		display: none;
	}
}

.card:hover {
	transform: translateY(-1.5rem);
}

.card:hover ~ .card {
	transform: translateX(100px);
}

/* Image display */

.image-display {
	height: auto;
	width: 1500px;
}
